.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.d-flex {
    display: flex;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-center {
    text-align: center;
}

.f-40 {
    font-size: 40px;
}

.container-fuild {
    width: 960px;
    margin: 0px auto;
}