* {
    box-sizing: border-box;
}

#wrapper {
    background: #ffffff;
    padding: 0px;
    margin: 0px;
    height: auto;
}


/* Header */

#wrapper .header {
    margin-top: 14px;
    margin-bottom: 15px;
    justify-content: space-between;
    align-items: center;
}

#wrapper .header #logo-header {
    flex-basis: 200px;
}

#wrapper .header #logo-header img {
    display: block;
    max-width: 100%;
}

#wrapper .header nav {
    flex-basis: 800px;
}

#wrapper .header .navbar-header {
    list-style: none;
    /* flex-basis: 70%; */
    padding: 0px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin: 0px;
}

#wrapper .header .navbar-header li {
    display: block;
}

#wrapper .header .navbar-header li a.item-nav {
    display: block;
    text-decoration: none;
    padding: 18px 0px;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    transition: all 0.5s ease;
    cursor: pointer;
}

#wrapper .header .navbar-header li:hover {
    color: #01a050;
}

#wrapper .header .header-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header .header-icons #search {
    color: #000000;
    font-size: 15px;
    margin-right: 15px;
}

.header .header-icons #shopping-bag {
    font-size: 30px;
    color: #000000;
    position: relative;
    bottom: 6px;
}

.header .header-icons .number-quantity {
    position: absolute;
    font-size: 12px;
    color: #fff;
    top: 28%;
    right: 44%;
    transform: translate(38%, 38%);
}


/* End Header */


/* Banner */

.banner {
    margin-top: 29px;
    background: url("../images/slider8.png");
    min-height: 600px;
    background-size: cover;
}


/* End Banner */


/* Voucher */

.our-vourcher {
    margin-top: 45px;
    justify-content: space-between;
    align-items: center;
}

.our-vourcher .gift-voucher {
    display: flex;
    flex-basis: 350px;
}

.our-vourcher .gift-voucher:nth-child(1) .content-voucher {
    flex-basis: 300px;
    background-color: #c97278;
}

.our-vourcher .gift-voucher:nth-child(2) .content-voucher {
    flex-basis: 300px;
    background-color: #c0ab90;
}

.our-vourcher .gift-voucher:nth-child(3) .content-voucher {
    flex-basis: 300px;
    background-color: #7f8fa0;
}

.our-vourcher .gift-voucher:nth-child(1):hover .content-voucher {
    background-color: #b34952;
}

.our-vourcher .gift-voucher:nth-child(1):hover .icons-vourcher {
    background-color: #c97278;
}

.our-vourcher .gift-voucher .content-voucher .detail-voucher {
    color: #fff;
    display: block;
    font-size: 20px;
    text-decoration: none;
    padding: 17px 0px;
    padding-left: 39px;
}

.our-vourcher .gift-voucher .icons-vourcher {
    flex-grow: 3;
    text-align: center;
    padding: 20px 0px;
}

.our-vourcher .gift-voucher .icons-vourcher i {
    font-size: 23px;
    color: #fff;
    padding: 0px 17px;
    cursor: pointer;
}

.our-vourcher .gift-voucher:nth-child(1) .icons-vourcher {
    background-color: #b4666c;
}

.our-vourcher .gift-voucher:nth-child(2) .icons-vourcher {
    background-color: #ac9981;
}

.our-vourcher .gift-voucher:nth-child(3) .icons-vourcher {
    background-color: #728090;
}

.our-vourcher .gift-voucher:nth-child(2):hover .content-voucher {
    background-color: #bd9b6e;
}

.our-vourcher .gift-voucher:nth-child(2):hover .icons-vourcher {
    background-color: #a88a65;
}

.our-vourcher .gift-voucher:nth-child(3):hover .content-voucher {
    background-color: #6380a0;
}

.our-vourcher .gift-voucher:nth-child(3):hover .icons-vourcher {
    background-color: #5e7591;
}


/* End Voucher*/


/* Box product */

.box {
    margin-top: 40px;
}

.box .box-header {
    text-align: center;
}

.box .box-header .product-popular {
    font-weight: 400;
    color: #000000;
    display: inline-block;
    position: relative;
}

.box .box-header .product-popular::before {
    position: absolute;
    content: "";
    width: 33px;
    border: 1px solid #ddd;
    border: 1px solid #ddd;
    top: 49%;
    left: -46px;
}

.box .box-header .product-popular::after {
    position: absolute;
    content: "";
    width: 33px;
    border: 1px solid #ddd;
    top: 49%;
    right: -46px;
}

.box .box-body {
    margin-top: 24px;
    margin-bottom: 9px;
    display: flex;
    justify-content: space-around;
}

.box .box-body .product-item {
    border: 1px solid #c9c9c9;
    margin: 0px 10px;
    align-items: center;
    padding: 0px 0px 5px 0px;
}

.box .box-body .product-item:first-child {
    margin-left: 0px;
}

.box .box-body .product-item:last-child {
    margin-right: 0px;
}

.box .box-body .product-item .item-images {
    max-width: 100%;
    border: 1px solid #ddd;
    margin-bottom: 9px;
}

.box .box-body .product-item .item-images a.product-picture {
    max-width: 100%;
    overflow: hidden;
    display: block;
}

.box .box-body .product-item .item-images a.product-picture img {
    display: block;
    width: 100%;
    object-fit: cover;
    transition: all 0.7s ease;
}

.box .box-body .product-item .item-images:hover a.product-picture img {
    transform: scale(1.1);
}

.box .box-body .product-item .item-name {
    text-align: center;
    padding: 15px 0px 5px 0px;
    margin-bottom: 8px;
}

.box .box-body .product-item .item-name .name-content {
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}

.box .box-body .product-item:hover .item-name .name-content {
    color: #bcab18;
}

.box .box-body .product-item .item-name .name-content {
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    color: #212121;
}

.box .box-body .product-item .price-item {
    text-align: center;
    color: #b74851;
    font-size: 17px;
    font-weight: bold;
    padding: 6px 5px 15px 0px;
    margin-bottom: 10px;
    cursor: pointer;
}

.box .box-body .product-item .price-item .price-discount {
    text-decoration: line-through;
    cursor: pointer;
    color: #8d8d8d;
    padding-left: 9px;
    font-weight: 500;
}

.box .box-body .product-item .btn-items {
    text-align: center;
}

.box .box-body .product-item .add-to-cart {
    background-color: #d3cbcb;
    font-weight: 600;
    width: 218px;
    margin: 0 auto;
    display: block;
    text-align: center;
    color: #444444;
    border-radius: 22px;
    padding: 13px 0px;
    outline: none;
    font-size: 15px;
    border: none;
    margin-bottom: 14px;
    transition: all 0.4s ease-in-out;
}

.box .box-body .product-item .btn-items:hover .add-to-cart {
    background-color: #444444;
    color: #eeeeee;
}


/* End Box Product */


/* Watch All */

.watch-all {
    padding: 15px 0px 20px 0px;
    text-align: center;
}

.watch-all .all-product {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #272727;
    border-bottom: 1px solid #272727;
}


/* End Watch All */


/* Trend  */

.trend-clothes {
    margin-top: 30px;
    margin-bottom: 20px;
}

.trend-clothes .trend-title {
    text-align: center;
}

.trend-clothes .trend-title .content-title {
    font-weight: 400;
    color: #000000;
    display: inline-block;
    position: relative;
}

.trend-clothes .trend-title .content-title::before {
    position: absolute;
    content: "";
    width: 33px;
    border: 1px solid #ddd;
    top: 49%;
    left: -46px;
}

.trend-clothes .trend-title .content-title::after {
    position: absolute;
    content: "";
    width: 33px;
    border: 1px solid #ddd;
    top: 49%;
    right: -46px;
}

.trend-clothes .trend-body .list-trend {
    padding: 0px;
    justify-content: space-around;
    list-style: none;
}

.trend-clothes .trend-body .list-trend li.trend-items {
    flex-basis: 360px;
}

.trend-clothes .trend-body .list-trend li.trend-items:first-child {
    padding-left: 0px;
}

.trend-clothes .trend-body .list-trend li.trend-items:last-child {
    padding-right: 0px;
}

.trend-clothes .trend-body .list-trend li.trend-items .trend-images {
    max-width: 100%;
    overflow: hidden;
    display: block;
    margin-bottom: 15px;
}

.trend-clothes .trend-body .list-trend li.trend-items .trend-images a.trend-picture img {
    display: block;
    width: 100%;
    height: 255px;
    object-fit: cover;
    transition: all 0.7s ease;
}

.trend-clothes .trend-body .list-trend li.trend-items .trend-images a.trend-picture:hover img {
    transform: scale(1.1);
}

.trend-clothes .trend-body .list-trend li.trend-items .frontpager {
    text-align: justify;
}

.trend-clothes .trend-body .list-trend li.trend-items:last-child .frontpager {
    padding-right: 50px;
}

.trend-clothes .trend-body .list-trend li.trend-items .frontpager .content {
    display: block;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 15px;
}

.trend-clothes .trend-body .list-trend li.trend-items .frontpager:hover .content {
    color: #949a18;
}

.trend-clothes .trend-body .list-trend li.trend-items .description-trend {}

.trend-clothes .trend-body .list-trend li.trend-items:last-child .description-trend {
    padding-right: 45px;
    text-align: justify;
}

.trend-clothes .trend-body .list-trend li.trend-items .description-trend .substance {
    text-align: left;
    color: #000000;
    font-size: 16px;
}

.trend-clothes .trend-body #page-navigation {
    display: flex;
    justify-content: center;
    font-size: 9px;
}

.trend-clothes .trend-body #page-navigation i {
    display: inline-block;
    cursor: pointer;
    padding: 0px 3px;
    transition: all 0.4s ease;
}

.trend-clothes .trend-body #page-navigation i:hover {
    color: #949a18;
}


/* End Trend */


/* voucher GIFT*/

.vourcher-gift {
    padding-top: 50px;
    padding-bottom: 60px;
    background-color: cornsilk;
    min-height: 300px;
    background-image: url("../images/form-dangky.png");
    background-repeat: no-repeat;
    background-position: center center;
}

.vourcher-gift .title-voucher-gift {
    color: #ffffff;
    text-align: center;
    font-size: 30px;
}

.vourcher-gift .small-content-gift {
    color: #ffffff;
    text-align: center;
    padding-bottom: 40px;
}

.info-voucher {
    border: 2px solid #ffffff;
    display: flex;
    width: fit-content;
    margin: 0px auto;
}

.info-voucher .email-voucher {
    text-align: center;
    background: none;
    outline: none;
    border: 1px solid #ffffff;
    padding: 20px 399px 20px 20px;
}

.info-voucher .email-voucher::placeholder {
    color: #fff;
    text-transform: uppercase;
}

.info-voucher .email-voucher:focus {
    border: 1px solid rgb(240, 255, 110);
}

form.info-voucher:hover .email-voucher {
    border: 1px solid rgb(240, 255, 110);
}

.info-voucher .btn-voucher {
    text-align: center;
    padding: 0px 10px;
    background: #35aec0;
    text-transform: uppercase;
    border: 1px solid #ffffff;
    outline: none;
    color: #ffff;
    font-weight: bold;
}


/* End voucher GIFT */


/* Footer */

#wp-footer {
    background: #1b1b1b;
    padding-top: 55px;
}

#wp-footer .about-us {
    flex-basis: 550px;
    padding-right: 70px;
}

#wp-footer .about-us .footer-body .content-footer {}

#wp-footer .category-us {
    flex-basis: 350px;
}

#wp-footer .category-us .footer-body ul.list-cate {
    display: block;
    padding-left: 0px;
    margin-left: 23px;
    color: #ffff;
}

#wp-footer .category-us .footer-body p {
    text-align: justify;
}

.category-us .footer-body ul.list-cate li {
    position: relative;
}

.category-us .footer-body ul.list-cate li span {
    position: absolute;
    font-size: 12px;
    left: -11%;
    top: 8%;
    color: #e9f4ed;
}

.category-us .footer-body ul.list-cate li:first-child a.cate-items {
    padding-top: 0px;
}

.category-us .footer-body ul.list-cate li a.cate-items {
    text-decoration: none;
    display: inline-block;
    text-align: justify;
    font-weight: 600;
    padding: 5px 0px;
    color: #e9f4ed;
    transition: all 0.3s ease-in-out;
}

.category-us .footer-body ul.list-cate li:hover a.cate-items {
    color: #f1c40f;
}

.category-us .footer-body ul.list-cateli:last-child a.cate-items {
    padding-bottom: 0px;
}

#wp-footer .new-popular {
    flex: 350px;
    padding-left: 6px;
}

#wp-footer .new-popular .footer-body ul.list-popular-new {
    display: block;
    padding-left: 0px;
    margin-left: 23px;
    color: #ffff;
}

.new-popular .footer-body ul.list-popular-new li {
    position: relative;
}

.new-popular .footer-body ul.list-popular-new li span {
    position: absolute;
    font-size: 12px;
    left: -7%;
    top: 8%;
    color: #e9f4ed;
}

.new-popular .footer-body ul.list-popular-new li:first-child a.list-items {
    padding-top: 0px;
}

.new-popular .footer-body ul.list-popular-new li a.list-items {
    text-decoration: none;
    text-align: justify;
    display: inline-block;
    font-weight: 600;
    padding: 5px 0px;
    color: #e9f4ed;
    transition: all 0.3s ease-in-out;
}

.new-popular .footer-body ul.list-popular-new li:hover a.list-items {
    color: #f1c40f;
}

.new-popular .footer-body ul.list-popular-new li:last-child a.list-items {
    padding-bottom: 0px;
}

#wp-footer .fanpage {
    /* flex-basis: 15%; */
}

#wp-footer .title-footer-header {
    font-size: 18px;
    color: #e9f4ed;
    font-weight: bold;
    margin-bottom: 25px;
}

#wp-footer .footer-body {
    padding-right: 10px;
    text-align: justify;
}

#wp-footer .fanpage .footer-body {
    padding-right: 0px;
}

#wp-footer .footer-body p {
    color: #e9f4ed;
}

#wp-footer .footer-body p i {
    padding-right: 10px;
}

.fb_iframe_widget span {
    display: flex;
    /* width: 0px !important; */
}

.fb_iframe_widget iframe {
    width: auto;
    height: auto;
}


/* End footer */


/* Copyright */


/* End coppy right */

#wp-copyright {
    background: #ffffff;
}

#wp-copyright .copy-parent .copyright {
    color: #2f2f2f;
    padding: 10px 0px;
    margin: 0px;
    /* font-weight: bold; */
}